
.brandimg {
    width: 15%;
    height: auto;
    text-align: center;
}
.heading {
    font-size: 2.5rem;
    color: rgb(7, 141, 208);
    font-weight: bold;
    margin: 10px;
    
}

.brandname {
    text-align: center;
    display: inline;
    font-size: 2rem;
    color: #1b4c64;
    font-weight: bold;
}